<div class="d-flex justify-content-center">
  <form [formGroup]="LogInFrom" (ngSubmit)="LoginUser()">

  <p-card header="Login" [style]="{width: '360px'}">

    <div class="field">
      <label for="email">Email</label>
      <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Type your email" />
      <small *ngIf="email.invalid && (email.touched || email.dirty)" class="block p-error">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email is not valid </div>

      </small>
    </div>
    <div class="field">
      <label for="password">password</label>
      <input type="password" pInputText formControlName="password" class="w-full" name="password"
        placeholder="Type your password" />
        <small *ngIf="password.invalid && (password.touched || password.dirty)" class="block p-error">
          <div *ngIf="password.errors?.['required']">password is required</div>
        
        </small>
    </div>
    <p-button label="Login" [disabled]="LogInFrom.invalid" type="submit" class="w-full"></p-button>
    <div class="mt-2">
      Not a member? <a  routerLink="/Register">Register</a>
    </div>
    <div class="mt-2">
      Forgot your password? <a  routerLink="/resetPassword">Reset Password</a>
    </div>
  </p-card>

</form>
</div>
